html,
body {
  font-size: 14px;
}

.App {
  text-align: center;
}

.center {
  text-align: center;
}
.large {
  font-size: 8rem;
  font-weight: 800;
  text-shadow: 3px 3px darkblue;
  transition: font-size 0.2s ease-in-out;
}

.large:hover {
  font-size: 9rem;
  color: lightblue;
}

.small {
  font-size: 4rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
